<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<configuration>
   <property>
      <name>wordcountplus.inputPath</name>
      <value>/user/dell/wc_input</value>
   </property>
   <property>
      <name>wordcountplus.outputPath</name>
      <value>/user/dell/again2</value>
   </property>
</configuration>
